body {
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9dc3f0;
}

.navbar {
    height: 80px;
    width: 100%;
    min-width: 500px;
    margin-bottom: 25px;
    font-size: 60px;
    background-color: #ffffff;
}

.navbar img {
    height: auto;
    width: auto;
    max-height: 70px;
    vertical-align: middle;
    padding: 5px;
}

.navbar p {
    display: inline;
    position: absolute;
    margin: 0;
    top: 9px;
}

.navbar-right {
    float: right;
}