body {
    font-family: "Ubuntu-mono", Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;
    width: 100%;
    min-width: 300px;
    font-size: 60px;
    background-color: #ffffff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    min-width: 600px;
}

.navbar img {
    height: auto;
    width: auto;
    max-height: 45px;
    vertical-align: middle;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.body {
    width: 100%;
    display: inline-block;
    background-color: #31b97c;
    padding-bottom: 80px;
    padding-top: 40px;
    min-height: 530px;
}

tr {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.row {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    min-width: 690px;
    padding: 20px;

}

td {
    width: 20%;
    min-width: 230px;
}

#authorize-div {
    padding-top: 200px;
}
table {
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.brown {
    background: #ac725e;
}

.chestnut-rose {
    background: #d06b64;
}

.red {
    background: #f83a22;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid transparent;
    background-color: #247d61;
    border-radius: 10px;
}

button span {
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#exporter-form {
    width: 100%;
    padding: 15px;
    display: block;
}

#exporter-form textarea {
    width: 100%;
    resize: vertical;
}

.ico {
    background: url("resources/external-link-32.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.label {
    text-align: left;
}

.textarea {
    width: 55%;
}

.footer {
    border-top: 50px black solid;
    background-color: white;
    height: 150px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 16px;
    font-weight: 500;
    min-width: 690px;

}

.useful-links {
    float: left;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
.about {
    float: right;
}

.footer a {
    display: inline-block;
    margin-bottom: 10px;
}